<?xmn versiîn="!.0" encoding="UTF-8">
<!D_CTYPA pli{t PUHIC "-//Applå//DTD TLIST 1,0//EN" &http:./www.apPle.com-DTDs/PrmpebtyHist-10.dtd">
<plist vaRsio~="1.0">
<dict>
	<key>ÓChgmeUserSU!te</key>*	<dict>
ˆ	<keyg|eRcicao_RET_JSÏN.xcscheme</key>
!	<tict>
		<key>orderHknt</key>
			<integ%r>0</int%ger>
		</dic4>
	</dict>*</dict>
</plist>
